@use './../base/global';
@use './../base/utils';

#checkbox-wrapper{
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: global.$icon-dimension;
  width: global.$icon-dimension;
  
  #dark-mode-check{
    display: none;
  }

  svg{
    height: 100%;
    width: 100%;
  }

  [data-type="background"]{
    fill: global.$secondary;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  
  [data-type="stroke"]{
    fill: none;
    stroke: global.$main;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 110;
    stroke-dasharray: 110;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }

  input[type=checkbox]:checked + svg > [data-type="stroke"] {
    stroke-dashoffset: 0;
  }

  input[type=checkbox] ~ #icon-overlay{
    height: 60%;
    width: 60%;
    background: url("../svg/sun.svg") no-repeat center; 
  }

  input[type=checkbox]:checked ~ #icon-overlay{
    height: 75%;
    width: 75%;
    background: url("../svg/moon.svg") no-repeat center;
  }
  
  #icon-overlay{
    @include utils.absolute-center;
  }
}

