@use './base/global';
@use './base/media';

@mixin flex-spread{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

$gap: 1em;

header{
  @include flex-spread;
  font-family: Satoshi-Regular;
  height: global.$header-height;
  width: 100%;
  padding: 2rem;
  position: fixed;
  background-color: global.$main;
  transition: background-color global.$transition-timing;
  z-index: 4;

  h1{
    display: none;
  }

  .wrapper{
    @include flex-spread;
    width: 100%;

    nav{
      ul{
        display: flex;
        gap: $gap;

        li{
          cursor: pointer;
        }
      }
    }
  }

  @media screen and (min-width: media.$tablet-width) {
      $_gap: calc($gap * 2);

      h1{
        display: flex;
      }

      .wrapper{
        width: auto;
        gap: $_gap;

        nav{
          ul{
            gap: $_gap;
          }
        }
      }
    }
}
