@use './base/global';
@use './base/media';

@mixin flex-spread{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

$gap: 1em;

header{
  @include flex-spread;
  font-family: Satoshi-Regular;
  height: global.$header-height;
  width: 100%;
  padding: 2rem;
  position: fixed;
  background-color: global.$main;
  transition: background-color global.$transition-timing;
  z-index: 2;

  h1{
    display: none;
    // font-family: Satoshi-Bold;
  }

  .wrapper{
    @include flex-spread;
    width: 100%;

    nav{
      ul{
        display: flex;
        gap: $gap;

        // li{
        //   position:relative;
        //   transition: 150ms;
        //   // text-decoration:none;
        //   // display:inline-block;

        //   &:after{
        //     z-index: -1;
        //     position: absolute;
        //     top: -6%;
        //     left: -12%;
        //     display:block;
        //     content: '';
        //     width: 125%;
        //     height: 125%;
        //     background-color: global.$highlight-1;
        //     border-radius: 20px;
        //     transform: scale(0);  
        //     transition: transform 250ms ease-in-out;
        //     transform-origin: 100% 50%;
        //   }

        //   &:hover{
        //     color: global.$main;

        //     &:after{
        //       transform: scaleX(1);
        //       transform-origin: 0 50%;

        //     }
        //   }
        // }
      
      }
    }
  }

  @media screen and (min-width: media.$tablet-width) {
      $_gap: calc($gap * 2);

      h1{
        display: flex;
      }

      .wrapper{
        width: auto;
        gap: $_gap;

        nav{
          ul{
            gap: $_gap;
          }
        }
      }
    }
}
