@use './base/global';

nav{
  align-self: flex-start;
  padding-bottom: global.$display-padding;
}

nav > .wrapper{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

nav [role="button"] { cursor: pointer; }
nav [aria-expanded="true"] {
  position: relative;
  font-family: Satoshi-Regular;
}

nav [aria-expanded="true"]::after{
  position: absolute;
  content: "-";
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  padding: 5.5px 7px 9px 7.5px;
  margin-left: 5px;
  color: global.$grey;
  border: 1px solid global.$light-grey;
  transform: translateY(4.5px);
}

@media screen and (min-width: 750px){
  nav [aria-expanded="true"]::after{
    padding: 5.5px 7.5px 9px 6.75px;
    transform: translateY(8px);
  }
}
