@use './base/global';
@use './base/media';

@keyframes Slow-Fade{
  0%{
    opacity: 0;
  }
  90%{
    opacity: 0;
  }
  100%{
    opacity: 1;  
  }
}

@mixin flex-row{
  display: flex;
  justify-content: center;
  align-items: center; 
}

@mixin flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

#projects{
  @include flex-col;
  height: 60svh;  
  position: relative;

  @media screen and (min-width: media.$desktop-width) {
    height: 70svh;
  }

  @media screen and (min-height: media.$desktop-height) {
    height: 50svh;
  }

  h2{
    top: 0;
    position: absolute;
    font-size: global.$fs-xl;
    font-family: Satoshi-Bold;
  }

  #slide-container{
    --card-width: 25px;
    --card-gap: 1em;
    --transition-timing: 0.6s;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--card-gap);
    margin-top: 1rem;
    position: relative;
    height: 100%;
    width: 50%;
    
    --position: 0;
    --shift: calc((var(--card-width) + var(--card-gap)) * var(--position));
    left: var(--shift);

    @media screen and (min-width: media.$desktop-width-xl) {
      margin-top: 2rem;
      width: 40%;
    }

    @media screen and (min-width: media.$desktop-xxl) {
      margin-top: 3rem;
    }

    .card{
      flex-shrink: 0;
      height: 75%;
      width: var(--card-width);
      background-color: global.$secondary;
      font-family: Serif-Light;
      color: global.$main;
      border-radius: 20px;
      transition: width 0.7s ease;

      .opacity-wrapper{
        opacity: 0;
        visibility: hidden;
        height: 100%;
        position: relative;

        // * Fix for link group positioning on transition * //
        transition: opacity 1.3s cubic-bezier(.27,1.03,.85,.8);

        .content{
          position: absolute;
          left: 3%;  
          bottom: 5%;

          @media screen and (min-width: media.$tablet-width) {
            left: 5%;
          }

          @media screen and (min-width: media.$desktop-width) {
            left: 2.5%;
          }

          h3{
            font-size: global.$fs-text;
            line-height: 1em;
            font-family: Serif-Regular;
            padding-bottom: 0.25em;
          }

          .backlink{
            color: global.$main;
          }
        }

        .links{
          position: absolute;
          top: 5%;
          right: 2.5%; 
          display: flex;
          gap: 1em;
          border: 1px solid global.$main;
          border-radius: 20px;
          padding: 0.5em 1em 0.5em 1em;

          .single{
            padding: 0.25em;
          }

          a{
            display: inline-block;
            position: relative;
            z-index: 3;
            @include flex-row;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            background-color: global.$accent-1;
            
            .github-site{
              height: 85%;
              width: 85%;
            }

            .icon{ 
              height: 25%;  
              width: 25%;
              background: url("../svg/arrow.svg") no-repeat center;
            }
          }
        }

      }

      &[data-active]{
        opacity: 1;
        width: 65vw;  
        
        .opacity-wrapper{
          opacity: 1;
          visibility: visible;
        }

        @media screen and (min-width: media.$tablet-width) {
          width: 50vw;
        }

        @media screen and (min-width: media.$desktop-width-xl) {
          width: 40vw; 
        }
      }
      

      &:not([data-active]){
        opacity: 0.4;
      }
    }
    &[data-position="-2"]{ --position: -2; }
    &[data-position="-1"]{ --position: -1; }
    &[data-position="0"]{ --position: 0; }
    &[data-position="1"]{ --position: 1; }
    &[data-position="2"]{ --position: 2; }
  }

  .controls{
    @include flex-row;
    position: absolute;
    top: 95%;
    gap: 2rem;

    button{
      width: 60px;
      height: 60px;
      background-color: global.$accent-1;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.6s ease; 

      .icon{
        height: 25%;  
        width: 25%;
        background: url("../svg/arrow.svg") no-repeat center;
      }

      &#next{
        transform: rotate(45deg);
        box-shadow: 2px 0px 0px 1px global.$light-grey;

        &:hover{
          transform: rotate(45deg) scale(1.1);
        }
        &:active{
          transform: rotate(45deg) scale(0.9);
        }
      }

      &#prev{
        transform: rotate(-135deg);
        box-shadow: 0px -3px 0px global.$light-grey;

        &:hover{
          transform: rotate(-135deg) scale(1.1);
        }
        &:active{
          transform: rotate(-135deg) scale(0.9);
        }
      }

    }
  }
}