@use './global';

body{
  --brand-color: #d25168;
  --main: #ffe0b5;
  --secondary: #290a10;
  --accent-1: #a4af69;
  --accent-2: #EDE580;
  --highlight-1: #903D41;
  --highlight-1-faded: hsla(357, 40%, 40%, 0.5);
  --highlight-2: #C9CA75;

  --grey: #21212192;
  --light-grey: rgba(128, 128, 128, 0.212);
}

body:has([data-theme="dark"]:checked){
  --main: hsl(349, 59%, 10%);
  --secondary: #ffe0b5;

  --accent-1: #EDE580;
  --accent-2: #a4af69;

  --highlight-1: #C9CA75;
  --highlight-1-faded: hsl(61, 45%, 63%, 0.5);
  --highlight-2: #903D41;
  --light-grey: rgba(128, 128, 128, 0.212);
}