@use './global';
@use './utils';
@use "sass:map";

@keyframes Fade-In-OnLoad{
  0%{
    filter: blur(10px);
  }
  60%{
    filter: blur(0px);
  }
  100%{
    opacity: 1;
    visibility: visible;
  }
}

body{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: global.$fs;
  color: global.$secondary;
  background: global.$main;
  height: 100svh;

  transition: global.$transition-timing all;

  & > *:not(#onload-wrapper){
    // opacity: 0;
    // visibility: hidden;
    // animation: Fade-In-OnLoad 1s ease-out forwards;
    animation-delay: map.get(global.$delays, "onload-visibility");
  }

  main{
    margin-top: global.$header-height;
    
    & > section{
      height: global.$child-height;
    }
  }
}




